## import packages

In [ ]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

     country  fertility_rate  ado_fertility_rate
0     Mexico           1.940            0.061111
1   Colombia           1.663            0.060175
2     Brazil           1.629            0.042881
3  Argentina           1.482            0.025767

## fertility_rate

In [2]:
# Connect to sql
conn = sqlite3.connect('../data/wdi_data.db')  

# SQL query
query = """
SELECT 
    country,
    fertility_rate,
    (adolescent_fertility_rate/1000) AS ado_fertility_rate
FROM wdi_data
WHERE fertility_rate IS NOT NULL AND adolescent_fertility_rate IS NOT NULL
ORDER BY fertility_rate DESC;
"""
df = pd.read_sql_query(query, conn)

display(pd.read_sql(query, conn))

     country  fertility_rate  ado_fertility_rate
0     Mexico           1.940            0.061111
1   Colombia           1.663            0.060175
2     Brazil           1.629            0.042881
3  Argentina           1.482            0.025767